<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6525.0" authCookieName=".SFAUTH-SitefinityTraining" rolesCookieName=".SFROLES-SitefinityTraining" validationKey="ABB008A00255830A27BEEFFD3C724888074A38DB6D2EB85562A27006477A6ACA391614D127EA752E91450C4C9022F3A602A9E0C60164969E74D879205A396268" decryptionKey="05D7412BE482C2EE405ACD1183A265A607708A75F0C26A3D648520B0C0544256" loggingCookieName=".SFLOG-SitefinityTraining">
	<securityTokenIssuers>
		<add key="E0FC650CBC606D7A8D67DCECEC6E69BABC5D4C0FAB6B31F4AB69F60BB0208613" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="E0FC650CBC606D7A8D67DCECEC6E69BABC5D4C0FAB6B31F4AB69F60BB0208613" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="7fd65ca4-1a17-4e0a-a248-07157a73af2c" name="Everyone" config:flags="1" />
		<role id="ac5963bf-20a6-4363-a4e2-d425cd6c5860" name="Anonymous" config:flags="1" />
		<role id="de980db4-212c-4227-bf56-78705b68488b" name="Authenticated" config:flags="1" />
		<role id="f5de7685-1edb-4304-974a-9f11f4bcb004" name="Owner" config:flags="1" />
		<role id="80589b1b-c74e-4abd-bdb3-2105bc64cd92" name="Administrators" config:flags="1" />
		<role id="5da3a60a-a779-460b-abdd-4df805368c9c" name="BackendUsers" config:flags="1" />
		<role id="303f1b02-0f13-458d-9552-c95b0cb8bd78" name="Authors" config:flags="1" />
		<role id="8c7110d5-ff2a-4391-81a1-997b0e205a5e" name="Editors" config:flags="1" />
		<role id="3e1f67d3-bf65-453b-8fbe-fd5d99710c51" name="Designers" config:flags="1" />
		<role id="41a6a8cd-5e57-484c-bf94-bb7cf26ab6df" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>